x : [5, 1, 5, 14, 3, 19, 1, 1, 4, 22][N]
t : <94.3, 15.7, 62.9, 126.0, 5.24, 31.4, 1.05, 1.05, 2.1, 10.5>[N]
N : 10
alpha := exponential(1.0)<lower=0>
beta := gamma(0.1,1.0)<lower=0>
theta := gamma<N>(alpha,beta)<lower=0>
observe(poisson(theta.*t),x)
posterior(alpha)
posterior(beta)
posterior(theta)
