C : 15
R : 5
M : 10
transformeddata{
    float theta_max
    theta_max = M
    theta_max = theta_max/(C-R+M)
}
N := normal(1234.0,1234.0)<lower=(C-R+M)>
transformedparam{
    float<lower=0,upper=theta_max> theta
    theta = M/N
}
increment_log_prob(-2*log(N))
observe(binomial(C,theta),R)
posterior(N)
