post_test : float[21]
supp : float[21]
pre_test : float[21]
beta := gamma(1,1)[3]
sigma := gamma(1,1)
observe(normal(beta[0]+beta[1]*supp+beta[2]*pre_test,sigma),post_test)
posterior(beta)
posterior(sigma)
