input_file_path=$(realpath $1) # put build error in input_file_path
dest_path="/home/zixin/Documents/are/c4pp/c4pp/metrics/res" # "/home/zixin/Documents/are/c4pp/example-models/temp" #  # put all samples & metrics & rt in dest_path, must exist
stan_name="/home/zixin/Documents/are/PPVM/trans_runner/cmdstan-2.16.0" # "/srv/local/scratch/lrm_mutant/cmdstan"  # which version of stan to use
storemethod="cat" # "gzip"
sampleext="" # if using gzip: ".gz"
dest_model_name_ext="_res" # can't be empty. find all results in $model_name$ext.tar.gz

to=60 #timeout in min

get_ref=true
ref=1000

get_min=true
min=100
chain=4
metrics_file_path=$(realpath /home/zixin/Documents/are/c4pp/c4pp/metrics/metrics_0301.py) # /srv/local/scratch/lrm_mutant_3/metrics_0301.py)
metric_ops="-m t -m ks -m ekl -m ehell -m wass -m js -o avg -o extreme -w 1000 -btosize"
get_runtime=true
runtime_file_path=$(realpath /home/zixin/Documents/are/c4pp/c4pp/metrics/runtime_summary.py) # /srv/local/scratch/timeseries_mutants_2/runtime_summary.py)

noisy=false
noisy_data_file=noisy.data.R
sync_all=false # sync all files with *.stan and *.data.R, otherwise using the dirname as stanfile name
archive=true
tar_archive=false
recompile=false

variational=false # default 10000 iters with 1000 samples
