input_file_path=$(realpath $1) # put build error in input_file_path
dest_path=/scratch/lrm_mutants_9/res/
stan_name="/home/zixin/Documents/are/c4pp/example-models/cmdstan" # "/srv/local/scratch/lrm_mutant/cmdstan" #"/home/zixin/Documents/are/PPVM/trans_runner/cmdstan-2.16.0" #  # which version of stan to use
storemethod="gzip" # "cat"
sampleext=".gz" # if using gzip or ""
dest_model_name_ext="_res_1000_1000_10_95" # can't be empty. find all results in $model_name$ext.tar.gz

to=40 #timeout in min

get_ref=false
ref=100000

get_min=true
min=1000
extra_args_before="max_depth=10"
extra_args="num_warmup=1000 adapt delta=0.95"
chain=4
metric_ops="-m wass -t 0.2 -o avg -w 1000 -u param_use"
metrics_file_path=$(realpath /home/zixin/Documents/are/c4pp/c4pp/metrics/metrics_0301.py) # ~/c4pp/metrics/metrics_0301.py) #
runtime_file_path=$(realpath /home/zixin/Documents/are/c4pp/c4pp/metrics/runtime_summary.py) #~/c4pp/metrics/runtime_summary.py) # $(realpath  # /srv/local/scratch/timeseries_mutants_2/runtime_summary.py)

noisy=false
sync_all=false
archive=true
tar_archive=false
recompile=false
